<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Welcome to Cat Facts! You are now logged in.</p>
        <!-- Logout Form -->
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="/login/">
            <button type="submit">Logout</button>
        </form>
        <p><a href="{% url 'liked_facts' %}">View Liked Cat Facts</a></p>
            <ul>
                {% for fact in cat_facts %}
                <li>
                    {{ fact.fact }} ({{ fact.length }} characters)
                    <form action="{% url 'like_cat_fact' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="fact" value="{{ fact.fact }}">
                        <button type="submit">Like</button>
                    </form>
                </li>
                {% endfor %}
            </ul>
</body>
</html>