{% extends "app/base.html" %}

{% block title %}Login - Cat Facts{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mt-5">
            <div class="card-body">
                <h2 class="card-title text-center">Login</h2>
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in form.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <input class="{{ field.field.widget.attrs.class }} form-control" id="{{ field.id_for_label }}" name="{{ field.name }}" type="{{ field.field.widget.input_type }}" placeholder="{{ field.label }}" value="{{ field.value|default_if_none:'' }}">
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}